.canvas-screen {
  border: 3px solid #0a4c9f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 256;
  height: 256;
}
.tool-btn.selectedTool {
  outline: 2px solid #2003b2; /* or your preferred highlight */
  outline-offset: 2px;
  filter: brightness(1.05);
}
